extends layout

block content
  include ./entry_form.jade
  

block module_css
  link(rel='stylesheet' href='/stylesheets/datepicker.css')

block module_js
  script(src='/javascripts/bootstrap-datepicker.js')
  script
    include ./add_entry.js
